*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial !important;


}

a {
    text-decoration: none;

}

code {
  font-family:source-code-pro, Menlo,Monaco,Consolas,"Courier New",monospace ;
}

body {
    position: relative;
    min-height: 100%;
    background: #0f171e !important;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

html {
    height: 100%;

}


.wrapper {
    min-width: 100%;
    color: white;
    min-height: 100vh;
    /*background: url(video.mp4/weather.jpg)center no-repeat;*/

}

.container {
    background-color: rgba(0, 115, 135, 0.301);
    max-width: 85%;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    box-shadow: 10px 10px 30px #017b8b,
    inset 15px 15px 20px #005763;
    border-radius: 5px;
    color: white;

}

.video {
    position: relative;
    padding-bottom: 56.25%;

}

.video-media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

}




