.current-weather {
    width: 320px;
    padding: 0 20px 20px 20px;
    box-shadow: 10px 10px 30px #017b8b,
    inset 15px 15px 20px #005763;
    border-radius: 5px;
    color: white;
    margin: 50px auto;


}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
    line-height: 2;
}

.wed-desc {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    line-height: 2;
    margin: 0;
}

.wed-icon {
    width: 100px;
}

.temp {
    font-size: 60px;
    font-weight: 700;
    width: auto;
    letter-spacing: -4px;
}

.details {
    width: 100%;
    padding-left: 25px;

}

.param {
    display: flex;
    justify-content: space-between;
}

.param-label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.param-value {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.param-label.top {
    /*border-bottom: 2px solid #fff;*/
    margin: auto;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2;
}